 Common styles */
.nobr {
  white-space:nowrap;
}
/* !Common styles */

/* No javascript support message */
#no-js-support {
  background-color: #fff;
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  font-weight: normal;
}

#no-js-support h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#no-js-support p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}
/* !No javascript support message */

/* no browser support message */
#browser-is-not-supported {
  background-color: #fff;
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483646;
  font-weight: normal;
}

html.no-fontface #browser-is-not-supported,
html.no-boxshadow #browser-is-not-supported,
html.no-backgroundsize #browser-is-not-supported,
html.no-csstransforms #browser-is-not-supported,
html.no-cssanimations #browser-is-not-supported,
html.no-cssgradients #browser-is-not-supported {
  display: block !important;
}

#browser-is-not-supported h1 {
  text-align: center;
  font-style: normal;
  font-size: 2em;
}

#browser-is-not-supported p {
  width: 60%;
  margin-left: 20%;
  font-size: 16pt;
}

#browser-is-not-supported .browsers-list {
  text-align: center;
}

#browser-is-not-supported .browsers-list a {
  padding: 0 10px;
}

#browser-is-not-supported .ignore-my-browser {
  text-decoration: underline;
  cursor: pointer;
}
/* !no browser support message */

/* content loader */
#content-loader {
  z-index: 2147483645;
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(120,120,120,1) 100%);
  background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(189,189,189,1)), color-stop(100%, rgba(120,120,120,1)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(120,120,120,1) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(120,120,120,1) 100%);
  background-image: -ms-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(120,120,120,1) 100%);
  background-image: radial-gradient(ellipse at center, rgba(189,189,189,1) 0%, rgba(120,120,120,1) 100%);
  background-size: 200% 200%;
  background-position: center center;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  -webkit-animation: loaderbg 4s infinite ease;
  -moz-animation: loaderbg 4s infinite ease;
  -o-animation: loaderbg 4s infinite ease;
  animation: loaderbg 4s infinite ease;
}

@-webkit-keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

@-moz-keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

@-o-keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

@keyframes loaderbg {
  0% {
    background-size: 200% 200%;
  }
  
  50% {
    background-size: 100% 100%;
  }
  
  100% {
    background-size: 200% 200%;
  }
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #333;
  top: 50%;
  left: 50%;
  -webkit-animation: loader 2s infinite ease;
  -moz-animation: loader 2s infinite ease;
  -o-animation: loader 2s infinite ease;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #333;
  -webkit-animation: loader-inner 2s infinite ease-in;
  -moz-animation: loader-inner 2s infinite ease-in;
  -o-animation: loader-inner 2s infinite ease-in;
  animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* !content loader */

/* главная страница */
#part0 {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", serif;
  background-color: #adadad;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../img/part0-bg.jpg");
}

#part0 h1 {
  position: absolute;
  width: 70%;
  left: 15%;
  top:2%;
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  font-size: 2.4vw;
}

#part0 .part-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: none;
}

#part0 .part-bg.part1 {
  background-image: url("../img/part1-bg.jpg")
}

#part0 .part-bg.part2 {
  background-image: url("../img/part2-bg.jpg")
}

#part0 .part-link.part1 {
  background-image: url("../img/part1-link.jpg");
  left: 25%;
}

#part0 .part-link.part2 {
  background-image: url("../img/part2-link.jpg");
  right: 25%;
}

#part0 .part-link {
  position: absolute;
  top: 30%;
  width: 20%;
  height: 20vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 3px 3px 6px 2px rgba(0,0,0,.8);
  -moz-box-shadow: 3px 3px 6px 2px rgba(0,0,0,.8);
  -o-box-shadow: 3px 3px 6px 2px rgba(0,0,0,.8);
  box-shadow: 3px 3px 6px 2px rgba(0,0,0,.8);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  cursor: pointer;
}

#part0 .part-link:hover {
  top: 28%;
}

#part0 .footer {
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 10px;
  text-align: center;
}

#part0 .footer a {
  display: inline-block;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  background-repeat: no-repeat;
  background-position: left center;
}


#part0 .footer a.yararchive {
  background-image: url("../img/yarregion.png");
  padding-left: 40px;
  margin-right: 15px;
}

#part0 .footer a.upda {
  background-image: url("../img/upda.png");
  padding-left: 28px;
}
/* !главная страница */

/* часть 1, 2 */
#part1,
#part2 {
  display: none;
  width: 100%;
  background-color: #efefef;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 100px 0 90px 0;
  font-family: "Times New Roman", serif;
  font-size: 1.4em;
}

#part1 {
  background-image: url("../img/part1-bg.jpg");
}

#part2 {
  background-image: url("../img/part2-bg.jpg");
}

.container {
  width: 70%;
  background-color: #fff;
  padding: 40px 50px;
  margin-left: 13%;
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 4px 2px 0 rgba(0,0,0,.7);
  -moz-box-shadow: 2px 4px 2px 0 rgba(0,0,0,.7);
  -o-box-shadow: 2px 4px 2px 0 rgba(0,0,0,.7);
  box-shadow: 2px 4px 2px 0 rgba(0,0,0,.7);
}

.container h1,
.container h2 {
  text-align: center;
  font-weight: normal;
}
/* !часть 1 */

/* главное меню */
#part-menu {
  display: none;
  position: fixed;
  width: 70%;
  left: 13%;
  padding: 0 50px;
  height: 50px;
  background-color: rgba(242,242,242,.7);
  overflow: hidden;
  -webkit-box-shadow: 0 1px 5px -2px rgba(0,0,0,1);
  -moz-box-shadow: 0 1px 5px -2px rgba(0,0,0,1);
  -o-box-shadow: 0 1px 5px -2px rgba(0,0,0,1);
  box-shadow: 0 1px 5px -2px rgba(0,0,0,1);
}

#part-menu ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

#part-menu ul > li {
  display: inline-block;
  padding: 5px 15px;
  line-height: 40px;
  margin: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -ms-transition: all .6s ease-in-out;
  -kthtml-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

#part-menu ul > li:hover {
  background-color: #afafaf;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
/* !главное меню */

/* Блок с изображениями */
.fancybox-title a {
  color: #fff;
}

.images-container {
  margin: 0;
  padding: 0 1%;
  width: 98%;
  text-align: center;
  display: inline-block;
}

.images-container.double.splitted {
  width: 47%;
}

.images-container.triple.splitted {
  width: 30%;
}

.images-container.quadruple.splitted {
  width: 22%;
}

.images-container.quintuple.splitted {
  width: 17%;
}

.images-container > p {
  margin: 0 0 1em 0;
}

.images-container > a {
  display: inline-block;
  padding: 1%;
}

.images-container > a > img {
  display: inline-block;
  max-width: 100%;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, .6);
}

.images-container.single > a {
  width: 97.5%;
}

.images-container.double > a {
  width: 47%;
}

.images-container.double.splitted > a {
  width: 97.5%;
}

.images-container.triple > a {
  width: 30%;
}

.images-container.triple.splitted > a {
  width: 97.5%;
}

.images-container.quadruple > a {
  width: 22%;
}

.images-container.quadruple.splitted > a {
  width: 97.5%;
}

.images-container.quintuple > a {
  width: 17%;
}

.images-container.quintuple.splitted > a {
  width: 97.5%;
}

.images-container .description {
  font-style: italic;
  font-size: 80%;
}
/* !Блок с изображениями 